@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>


@{ ViewData["Title"] = "Index"; }

<h1>Products Catalogue</h1>


<div class="container">
    <div class="row">
        @Html.Partial("SearchPartial", Model)
    </div>

    <div class="row">
        @Html.Partial("ViewProductsPartial", Model)
    </div>

    <div class="row">
        @Html.Partial("PaginationPartial", Model)
    </div>

    <div class="row">
        <a href="/Products/ShoppingCart?list=@ViewBag.productsList" class="btn btn-block btn-primary">View Shopping Cart</a>
    </div>
</div>



