
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="col">
    <form method="post" action="/Products/Search">
        <div class="form-group mb-2">
            <label class="control-label">Category: </label>

            <div class="row">
                <div class="col-8">
                    <select name="category" class="form-control">
                        @foreach (var category in ViewBag.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                </div>

                <div class="col">
                    <input type="submit" value="Filter" class="btn btn-block btn-warning" />
                </div>

            </div>
        </div>
    </form>
</div>
